p{
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    font-size: 30px;
    padding: 10px;
}

#navbar-brand{
    padding: 30px;
    background-color: #4aaaa5;
}
.navbar{
    padding: 0px;
    margin: auto;
    background-color: #ffffff;
}
body{
    background-image:url(webb.png);
}